
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500018692428'); /* IE9*/
  src: url('iconfont.eot?t=1500018692428#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500018692428') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500018692428') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500018692428#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-data:before { content: "\e610"; }

.icon-inform:before { content: "\e65e"; }

.icon-notice:before { content: "\e621"; }

.icon-envqua:before { content: "\e611"; }

.icon-iconfonticonfonticonfont21:before { content: "\e620"; }

.icon-zhuanjia:before { content: "\e631"; }

.icon-home:before { content: "\e66e"; }

.icon-icon:before { content: "\e601"; }

.icon-nav:before { content: "\e720"; }

.icon-fafang-copy:before { content: "\e602"; }

.icon-wuzi:before { content: "\e63a"; }

.icon-renyuan:before { content: "\e7bc"; }

.icon-danweitijian:before { content: "\e701"; }

.icon-nianjian:before { content: "\e612"; }

.icon-cheliang:before { content: "\e606"; }

.icon-gongwen:before { content: "\e64a"; }

.icon-mainlist:before { content: "\e603"; }

.icon-zhuanjia1:before { content: "\e670"; }

.icon-announcement:before { content: "\e605"; }

.icon-datastatistics:before { content: "\e63f"; }

.icon-zhengce:before { content: "\e60c"; }

.icon-datashare:before { content: "\e604"; }

.icon-shiliangzhinengduixiang_fuzhi:before { content: "\e608"; }

.icon-jigou:before { content: "\e72c"; }

.icon-genghuanyonghu:before { content: "\e664"; }

.icon-xiaofanggongcheng:before { content: "\e607"; }

.icon-shebei:before { content: "\e650"; }

.icon-dianziyiqi:before { content: "\e65b"; }

.icon-news:before { content: "\e600"; }

.icon-measures:before { content: "\e6b6"; }

.icon-materials:before { content: "\e66d"; }

.icon-nianjiannianshen:before { content: "\e6c8"; }

.icon-youxiao:before { content: "\e623"; }

.icon-datashare-copy:before { content: "\e721"; }

